<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>File Uploader</h1>
    <form id="uploadForm" enctype="multipart/form-data" method="POST">
        <label for="file">Choose file to upload:</label>
        <input type="file" id="file" name="file">
        <button type="submit">Upload</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Download Files</h2>
    <form action="/download" method="POST">
        <label for="file">Choose file to download:</label>
        <select id="file" name="file">
            {% for filebasename in filebasenames %}
                <option value="{{ filebasename }}">{{ filebasename }}</option>
            {% endfor %}
        </select>
        <button type="submit">Download</button>
    </form>
</body>
</html>
